.character {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
    height: 100%;
}

.character__header {
    margin-right: 40px;
}

.character img {
    width: 300px;
    height: auto;
}

.character__params {
    padding-top: 50px;
}

.character__params li:not(:last-child){
    margin-bottom: 20px;
}